.wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  flex-wrap: wrap;
}

.formContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 350px;
  /* background-color: aqua; */
  border: 1px solid rgb(65, 154, 255);
  border-radius: 8px;
}

.formContainer form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.email, .password{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
form input{
  height: 25px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 2px 2px 4px;
}
form input::placeholder{
  font-size: 0.8rem;
}
form label{
  font-size: 1.8rem;
  font-weight: 600;
}
span{
  color: red;
}

footer{
  position: sticky;
  /* left: 19px;
  bottom: 15px; */
}
footer .footerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}