.wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.formContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 300px;
  /* background-color: aqua; */
  border: 1px solid rgb(65, 154, 255);
  border-radius: 8px;
}

.formContainer form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form label{
  font-size: 1.8rem;
  font-weight: 600;
  
}

footer{
  position: sticky;
  /* left: 19px;
  bottom: 15px; */
}
footer .footerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}