.table-wrapper{
  position: relative;
  margin: 0px;  
  height: 400px;
  /* background-color: rgb(27, 39, 39); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: nowrap;
}
.tableContainer{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  overflow-y: scroll;
  height: 400px;
}
table{
  position: relative;
  justify-content: center;
  /* align-items: center; */
  margin-right: 15px;
  height: fit-content;
}
table, th, td {
  /* border: 1px solid black; */
  border-collapse: collapse;
}
th, td {
  padding: 10px 40px 20px 30px;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
tr{
  border-bottom: 1px solid rgb(54, 161, 255);
}
td button{
  font-size: 0.8rem;
  padding: 8px;
  background-color: red;
  color: white;
}
td button:active{
  background-color: rgb(231, 0, 0);
}